body {
    background-color: #EFEFEF;
}

#column_container {
    text-align: center;
    overflow: auto;
    width: 100%;
}

#projs {
    background-color: #FFDFDF;
    float: left;
    width: 29%;
}

#targets {
    background-color: #FFFFBF;
    display: inline-block;
    width: 29%;
}

#submit_files {
    background-color: #DFDFFF;
    float: right;
    width: 38%;
}

#choose_proj {
    line-height: 1.7;
}

.build_success {
    background-color: lightblue;
    /* display: none; */
}

.build_failure {
    background-color: lightred;
    /* display: none; */
}

.primary_column {
    text-align: left;
    padding: 5px;
    margin: 0px;
}

.delete_me {
    list-style-image: url( 'delete-24.png' );
    vertical-align: middle;
}

.selected_file {
    list-style-image: url( 'check_mark-24.png' );
    vertical-align: middle;
}

.unselected_file {
    list-style-image: url( 'question-24.png' );
    vertical-align: middle;
}

.tag {
    padding:          3px;
    background-color: white;
    white-space:      nowrap;
}

.monospace {
    font-family: monospace;
}

.really_big {
    font-size: xx-large;
}

.instructions {
    font-family: sans-serif;
}
