#filter_box {
    background-color: #DFFFFF;
}

#projs {
    background-color: #FFDFFF;
}

#targets {
    background-color: #FFDFDF;
}

#choose_files {
    display: flex;
    background-color: #FFFFDF;
}

#submit_files {
    display: flex;
    background-color: #DFFFFD;
}


.main_panel {
    margin: 5px;
    padding: 5px;
}

.container {
    display: flex;
}

.fixed {
    width: 300px;
}

.flex-item {
    flex-grow: 1;
}

.proj-item {
    display: block;
}